version: '3'

services:
  app:
    build:
      dockerfile: Dockerfile
      context: .
    command: ['npm', 'run', 'dev', '--', '--port', '4561', '--host', '0.0.0.0']
    ports:
      - "127.0.0.1:4561:4321"
    environment:
      HOST: 0.0.0.0
      PORT: 4561
      BASEURL: '/'
      EDITOR_APP_URL: https://pages-editor-dev.app.cloud.gov/
      OAUTH_CLIENT_ID:
      OAUTH_CLIENT_SECRET:
      NODE_ENV: development
      PAYLOAD_API_KEY: 'df301adb-6d26-4688-bd17-9454a2da62bd'
      PAYLOAD_SECRET: mysecret
      RENDER_MODE: 'server'
      PREVIEW_MODE: true
      LOCAL_DEV: true
      PAGE_SIZE: 10
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://localhost:4561']
      interval: 10s
      timeout: 5s
      retries: 5