:root {
  --uswds-white: #ffffff;
  --uswds-base-darkest: #1b1b1b;
  --uswds-gray-5: #f0f0f0;
  --uswds-gray-10: #e6e6e6;
  --uswds-gray-50: #757575;
  --uswds-gray-cool-60: #565c65;
  --uswds-blue-40v: #2491ff;
  --uswds-blue-warm-10v: #d4e5ff;
  --uswds-blue-warm-20v: #b2d4ff;
  --uswds-blue-warm-60v: #005ea2;
  --uswds-blue-warm-80v: #112f4e;
  --uswds-red-60v: #8b0a03;

  --uswds-spacing-4: 1rem;
  --uswds-spacing-8: 2rem;
  --uswds-radius-md: 0.25rem;
  --uswds-layout-max-width: 75rem;

  --uswds-font-body: "Public Sans Web", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  --uswds-font-heading: "Merriweather Web", Georgia, Cambria,
    "Times New Roman", Times, serif;
}