---
import Layout from "../layouts/Layout.astro";
import { createGetStaticPathForPages, fetchPageSlug } from "@/utilities/fetch";
import PagesSection from "@/components/PagesSection.astro";
import RichText from "@/components/RichText.astro";

const { slug } = Astro.params;

const collectionName = "pages";

let data: any;

const page = await fetchPageSlug(collectionName, slug);

if (!page) {
  return Astro.redirect("/404");
}

const pageContent = page.content;
const pageTitle = page.title;

export const getStaticPaths = createGetStaticPathForPages();
---

<Layout title={pageTitle}>
  <PagesSection>
    <h1>{pageTitle}</h1>
    <RichText content={pageContent} />
  </PagesSection>
</Layout>
