---
import Layout from "@/layouts/Layout.astro";
import { fetchHomePage } from "@/utilities/fetch";
import ContentBlocks from "@/components/ContentBlocks.astro";

// Fetch home page data from Payload CMS

const homePageData = await fetchHomePage();
---

<Layout title="Home Page">
  <div class="home-page">
    <ContentBlocks contentBlocks={homePageData?.content} />
  </div>
</Layout>
