---
import { getEntry } from "astro:content";
import sanitizeHtml from "sanitize-html";

import "../../index.scss";
import Layout from "../../layouts/Layout.astro";
import { convertLexicalToHTML } from "@payloadcms/richtext-lexical/html";

const {
  data: { subtitle, content },
} = await getEntry("aboutUs", "main");
---

<Layout>
  <div class="grid-container">
    <h1>About us</h1>
    {subtitle && <h2 set:text={subtitle} />}
    <div
      class="usa-prose"
      set:html={sanitizeHtml(convertLexicalToHTML({ data: content }))}
    />
  </div>
</Layout>
