---
import { getEntry } from "astro:content";

import "../../index.scss";
import Layout from "../../layouts/Layout.astro";
import RichText from "@/components/RichText.astro";
import payloadFetch from "@/utilities/payload-fetch";
import type { CollectionEntry } from "astro:content";

const collectionName = "aboutUs";
let data: CollectionEntry<typeof collectionName>["data"];

if (!Astro.isPrerendered) {
  const response = await payloadFetch("globals/about-us");
  data = await response.json();
} else {
  ({ data } = await getEntry(collectionName, "main"));
}
---

<Layout>
  <div class="grid-container">
    <h1>About us</h1>
    {data.subtitle && <h2 set:text={data.subtitle} />}
    <RichText content={data.content} />
  </div>
</Layout>
