---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Link from "@/components/Link.astro";
import type { CollectionEntry } from "astro:content";
import payloadFetch from "@/utilities/payload-fetch";

const collectionName = "news";
let news: CollectionEntry<typeof collectionName>["data"][];

if (!Astro.isPrerendered) {
  const response = await payloadFetch(`${collectionName}?draft=true`);
  const newsData = await response.json();
  news = newsData.docs;
} else {
  const newsCollection = await getCollection(collectionName);
  news = newsCollection.map((n) => n.data);
}
---

<Layout>
  <div class="grid-container">
    <h1>News Page</h1>
    <ul>
      {
        news.map((n) => (
          <li>
            <Link href={`/news/${n.slug}`}>{n.title}</Link>
          </li>
        ))
      }
    </ul>
  </div>
</Layout>
