---
import type { AlertModel } from "@/env";
import RichText from "@/components/RichText.astro";
import { cleanAlerts } from "@/utilities/alerts";

const { alertsData } = Astro.props;
const alerts: AlertModel[] = cleanAlerts(alertsData);
---

{
  alerts && alerts.length > 0 && (
    <div class="alerts-wrapper">
      {alerts.map(
        (a: AlertModel) =>
          a?.type && (
            <div
              class={`usa-alert margin-y-0 usa-alert--${a.type} 
              ${a?.icon ? " " : "usa-alert--no-icon "} 
              ${a?.slim ? "usa-alert--slim " : " "}`}
              role="alert"
            >
              <div
                class={`usa-alert__body ${a?.alignment === "center" ? "text-center" : "text-left"}`}
              >
                {a?.title && <h4 class="usa-alert__heading">{a?.title}</h4>}
                {a?.content && <RichText content={a.content} alert={true} />}
              </div>
            </div>
          ),
      )}
    </div>
  )
}

<style>
  .alerts-wrapper {
    width: 100%;
  }

  .alerts-wrapper .usa-alert {
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }
</style>
