---
import CollectionItem from "@/components/CollectionItem.astro";

const { items = [], showEvent = false } = Astro.props;
---

<>
  {items.length === 0 && <p>No items found</p>}
  {
    items.length > 0 && (
      <ul class="usa-collection measure-6">
        {items.map((n) => (
          <CollectionItem {...n} showEvent={showEvent} />
        ))}
      </ul>
    )
  }
</>
