---
import CollectionItem from "@/components/CollectionItem.astro";
import { COLLECTION_ITEM_LIST_ID } from "@/utilities/filter";

const { items = [], showEvent = false } = Astro.props;
---

<div>
  {items.length === 0 && <p>No items found</p>}
  {
    items.length > 0 && (
      <ol class="usa-collection-group measure-6" id={COLLECTION_ITEM_LIST_ID}>
        {items.map((n) => (
          <CollectionItem {...n} showEvent={showEvent} />
        ))}
      </ol>
    )
  }
</div>

<style>
  .usa-collection-group {
    padding: 0;
    margin: 0;
  }
</style>
