---
import { join } from "node:path";
interface Props {
  href: string;
  className?: string;
  title?: string;
}
const { href, className = "usa-link", title } = Astro.props;
const base = import.meta.env.BASE_URL;
---

<a href={join(base, href)} class={className} title={title}>
  <slot />
</a>
