---
import ReportCard from "@/components/ReportCard.astro";
// import type { Reportcollection } from "@/components/Reportcollection.astro";

const { items = [] } = Astro.props;
---

<>
  {items.length === 0 && <p>No items found</p>}
  {
    items.length > 0 && (
      <ol class="usa-collection-group measure-6">
        {items.map((n) => (
         <ReportCard {...n} /> 
        ))}
      </ol>
    )
  }
</>

<style>
  .usa-collection {
    flex-basis: max-content; /* otherwise collections will be 2 col */
  }
  .usa-collection-group {
    padding: 0; 
    margin: 0; 
  }
  .usa-collection__footer {
    gap: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin-top: 0.5rem;
  }
  .usa-collection__meta {
    font-size: 0.9rem;
    margin-top: 0.4rem;
  }
</style>
