---

---

<script type="module">
  import { renderSearchResults } from "@/utilities/searchResultsClient";

  const query = new URLSearchParams(window.location.search).get("query") || "";
  const affiliate =
    new URLSearchParams(window.location.search).get("affiliate") || "";

  // Replace with secure method
  // payload-fetch?
  const apiKey = "lULolvNFA7gCaduUESY9S2o54K18l0zrYm-lVkDAqkU=";

  renderSearchResults({ query, affiliate, apiKey });
</script>

<div id="results-count"></div>
<div id="search-results"></div>

<style>
  .search-result-item-wrapper {
    margin-top: 1.5rem;
  }

  .search-result-item {
    /* margin-top: 3rem; */
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .search-result-item .result-title-label {
    /* color: #005EA2; */
    font-size: 1.375rem;
    font-weight: 400;
    margin-bottom: 0.35rem;
    margin-top: 0.35rem;
  }

  .search-result-item .result-desc p {
    color: #1b1b1b;
    font-size: 1rem;
    letter-spacing: 0.25px;
    line-height: 26px;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    word-wrap: break-word;
    max-width: none;
  }
  .search-result-item .result-desc .result-url-text {
    color: #446443;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: break-word;
  }

  .row-mobile-divider {
    border-top: 1px solid #dfe1e2;
    margin-bottom: 1rem;
    margin-top: 1rem;
    visibility: hidden;
  }

  /* Media Queries */
  @media (max-width: 767.98px) {
    .search-result-item {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .row-mobile-divider {
      visibility: visible;
    }

    .search-item-wrapper
      .search-result-item:nth-last-child(2)
      .row-mobile-divider {
      margin-top: 0.5rem;
      visibility: hidden;
    }
  }

  @media (max-width: 767px) {
    .result-meta-grid-wrapper:active {
      outline: 0.25rem solid #2491ff;
    }

    .search-result-item .result-title-link {
      pointer-events: none;
    }
  }
</style>
