---
// TODO: Convert back to links when filtering is implemented
import Link from "@/components/Link.astro";

export interface Tag {
  label: string;
  url?: string;
}
interface Props {
  tags: Tag[];
}

const { tags } = Astro.props;
---

{
  tags.map((tag) => {
    if (tag.url) {
      return (
        <li class="usa-collection__meta-item">
          <span class="usa-tag">{tag.label}</span>
        </li>
      );
    }

    return <span class="usa-tag">{tag.label}</span>;
  })
}

<style>
  .usa-link {
    text-decoration: none;
  }
</style>
