---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import GovIdentifier from "@/components/GovIdentifier.astro";
import Menu from "@/components/Menu.astro";
import Footer from "@/components/Footer.astro";
import Config from "@/config.astro";
import payloadFetch from "@/utilities/payload-fetch";
import "../styles/index.scss";

const collectionName = "siteConfig";
const endpoint = "globals/site-config";
let collection: CollectionEntry<typeof collectionName>["data"];

if (!Astro.isPrerendered) {
  const response = await payloadFetch(`${endpoint}?draft=true`);
  const responseData = await response.json();
  collection = responseData;
} else {
  const responseData = await getCollection(collectionName);

  collection = {
    agencyName: responseData[0].data.agencyName,
    font: responseData[0].data.font,
  };
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{`${title} | ${collection.agencyName || "Agency Homepage"}`}</title>
  </head>
  <body>
    <Config />
    <GovIdentifier />
    <Menu title={collection.agencyName} />
    <slot />
    <Footer />
  </body>

  <style>
    html,
    body {
      margin: 0;
      width: 100%;
      height: 100%;
    }
  </style>
  <script>
    import "@uswds/uswds";
  </script>
</html>
