---
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Agency Homepage</title>
  </head>
  <body>
    <Header />
    <div class="grid-container">
      <slot />
    </div>
    <script>
      import { isDocumentEvent, ready } from "@payloadcms/live-preview";
      import { EDITOR_APP_URL } from "astro:env/client";

      const serverURL = EDITOR_APP_URL;
      setTimeout(() => {
        console.log("send ready");
        ready({
          serverURL,
        });
      }, 3000);

      window.addEventListener(
        "message",
        (event) => {
          console.log("got event", event);
          if (isDocumentEvent(event, serverURL)) {
            location.reload();
          }
        },
        false
      );
    </script>
  </body>

  <style>
    html,
    body {
      margin: 0;
      width: 100%;
      height: 100%;
    }
  </style>
</html>
