---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Link from "@/components/Link.astro";
import payloadFetch from "@/utilities/payload-fetch";
import type { CollectionEntry } from "astro:content";

const collectionName = "events";
let events: CollectionEntry<typeof collectionName>["data"][];

if (!Astro.isPrerendered) {
  const response = await payloadFetch(`${collectionName}?draft=true`);
  const eventsData = await response.json();
  events = eventsData.docs;
} else {
  const eventCollection = await getCollection(collectionName);
  events = eventCollection.map((event) => event.data);
}
---

<Layout>
  <div class="grid-container">
    <h1>Events Page</h1>
    <ul>
      {
        events.map((event) => (
          <li>
            <Link href={`/events/${event.slug}`}>{event.title}</Link>
          </li>
        ))
      }
    </ul>
  </div>
</Layout>
